.topad,
.biggins,
.header-bottom,
.topics,
body.blog .span4.sidebar,
.footer-ad,
.navi,
.navbar-inverse,
.navbar-fixed-top,
.new-footer,
.features,
.required,
#respond,
.pager,
.sidebar-ad,
.sharedaddy,
#linker_widget,
.carousel-control,
.next,
.prev,
.slide-side,
.img_ad,
.badge {
  display: none !important;
}
body {
  background: white;
  font-size: 12pt;
  margin: 0 5%;
}
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited {
  text-decoration: none;
}
[class*="span"],
.row-fluid [class*="span"] {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}
a:link,
a:visited {
  color: #520;
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
}
#mast {
  margin-bottom: -8px;
}
#mast img {
  vertical-align: bottom;
}
.hidden-print {
  display: none !important;
}
.visible-print {
  display: none !important;
}
.show-print {
  display: block !important;
}
.projects-masthead {
  padding-top: 0;
}
.container,
.row,
.span {
  width: auto;
  padding: 0;
  border: 0;
  margin: 0;
  float: none !important;
  color: black;
  background: transparent none;
}
.commentlist > li.comment {
  background-color: #F6F6F6 !important;
  width: 100%;
}
.container a:link:after,
.container a:visited:after {
  content: none !important;
}
.single .single .container .row .span4 {
  display: none !important;
}
.header,
.header h1 {
  margin-left: 0;
  padding-left: 0;
}
.span12,
.row-fluid .span12 {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
abbr[title]:after {
  content: " (" ")";
}
.container {
  padding-top: 1em;
  border-top: 1px solid #930;
}
.container a[href^=""]:after {
  content: none !important;
}
body.single-projects .hide {
  display: block;
}
.main-header {
  border: none;
}
.main-header .logo {
  margin-top: 0;
}
.projects-masthead h1 {
  font-size: 2.8em !important;
  line-height: 1em;
}
body.single-projects .category-top .container .row > div {
  padding-top: 6px;
}
body.single-projects .project-masthead {
  padding-top: 50px;
}
.projects-top .row .span9 > h3,
.projects-top .row .span9 > ul.subs {
  display: none;
}
.span4.sidebar .parts-tools {
  display: block !important;
  max-height: auto !important;
  overflow: visible;
}
.span4.sidebar .parts-tools .top {
  display: none;
}
.span4.sidebar .parts-tools .tab-content .tab-pane {
  display: block;
}
.type-volume .type-magazine .span2 {
  width: 140px;
  float: left;
}
.type-volume .type-magazine .span6 {
  width: 460px;
  margin-left: 20px;
  float: left;
}
.author-bio .span2 {
  width: 140px !important;
  float: left;
  margin-right: 20px;
}
.author-bio .span6 {
  width: 460px !important;
  float: left;
}
#div-gpt-ad-664089004995786621-3,
.related-projects,
.projects-ad,
.embed-youtube {
  display: none;
}
