.carousel-inner {
  .carousel-caption {
    position: absolute;
  }
}

.carousel-caption {
    position: relative;
}

// Someday we may want to have it fade rather then slide...

/* .carousel {
	.item {
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s; 
		-ms-transition: opacity 1s; 
		-o-transition: opacity 1s;
		 transition: opacity 1s;
		}
	.active.left {
		left:0;
		opacity:0;
		z-index:2;
	}
	.next {
		left:0;
		opacity:1;
		z-index:1;
	}
} */