
// Set some variables that is only used in the main nav
@secondary-color: #ebebeb;

// Wrapper that contains both the main and secondary navigations
.top-navigation-wrapper { 
	.nav { margin-bottom:0; }
}

// Wrapper containing the main navigaiton
.main-header {
	margin-top:20px;
	padding:10px 0;
	border-top:@the-border solid @red;
	border-bottom:@the-border solid #a4a4a4;
	.row { position:relative; }
	.additional-content {
		position:absolute;
		top:-10px;
		right:0;
		.subscribe, .search-make, { .pull-left; }
		.subscribe {
			> a {
				margin-right:6px;
				font-size:16px;
				text-transform:uppercase;
				background:@red;
				color:#fff !important;
				padding:5px 10px;
				position:relative;
				top:4px;
				.border-bottom-right-radius(5px);
				.border-bottom-left-radius(5px);
			}
			.dropdown-menu {
				background:#fff;
				border:1px solid @red;
				margin-top:4px;
				min-width:109px;
				.border-radius(0px);
				a {
					color:#0c668d;
					font-size:16px;
					font-weight:bold;
					padding:3px 9px;
					&:hover {
						background:transparent;
						color:@red;
					}
				}
			}
		}
		.search-make {
			margin:0;
			input[type="text"] {
				display:none;
				padding:5px 0 4px 8px;
				width:0;
				border:none;
				color:#777;
				&:focus { .box-shadow(0 0 0 transparent); }
			}
			input[type="image"] { margin:4px 8px 5px; }
			&.open {
				border:@the-border solid @red;
				border-top:none;
				.border-bottom-right-radius(5px);
				.border-bottom-left-radius(5px);
				input[type="text"] { 
					padding:3px 0 3px 8px;
					margin-bottom:0;
				}
			}
		}
	}
}

// Wrapper containing the secondary navigation
.secondary-header {
	background:@secondary-color;
	.box-shadow( inset 0 10px 18px -10px #a4a4a4 );
}

// Global Navigation styles
.site-navigation {
	li { .pull-left; }
	li.dropdown:hover {
		> ul.dropdown-menu {
			display:block; // Allows us to use hover on the dropdowns rather than click.
		}
	}
	a, .dropdown-menu a {
		color:@blue;
		background:none; 
		&:hover {
			color:@blue !important;
			text-decoration:underline !important;
			background:none !important;
		}
	}
	.open > a {
		color:@blue !important;
		text-decoration:underline !important;
		background:none !important;
	}
	.sub-menu, .dropdown-menu {
		display:none; // Add this so our subnav doesn't display before the Bootstrap classes are added.
		border-top:none;
		.border-radius(2px);
	}
}

// Main Navigation styles
.primary-navigation {
	font-size:22px !important;
	font-weight:bold;
	position:relative;
	top:23px;
	ul {
		> li { margin-right:22px;
			> a { padding-bottom:9px; }
		}
	}
	.dropdown-menu { margin-top:0px; }
}

// Secondary Navigation
.secondary-navigation {
	font-size:16px;
	border-bottom:1px solid lighter(@secondary-color);
	a { padding:10px; }
	.first > a { padding-left:0; }
	.dropdown-menu {
		background:@secondary-color;
		margin-top:-1px;
		border-color:lighter(@secondary-color);
		li { width:100%; }
	}
}