.themes {
	li {
		list-style-type: none;
	}
	margin-left:30px;
	margin-top:9px;
	a {
		strong {
			color:@red;
			width:160px;
			display: inline-block;
			text-align: right;
		}
		color:@link-color;
	}
}

.featured {
	height:115px;
	margin-left:30px;
	.img {
		.pull-left;
		width:125px;
	}
	.blurb {
		.pull-right;
		width: 485px;
		margin:0px;
		h3 {
			padding:0px;
		}
		p {
			padding:0px;
			small {
				margin-top:5px;
				display:block;
			}
		}
		.trending {
			color:@link-color;
			text-transform: uppercase
		}
	}
}

.home-sponsor-ad {
	margin-top: 30px;
	margin-bottom: 30px;
}