.makerfaire-lp {
	&.flags {
		background:url('../images/flags-small.png') center top repeat-x;
	}
	.mf-top {
		margin-top:55px;
	}
	.top-header {
		h3 {
			color:#555;
			font-size:22px;
			margin:21px 0 0;
		}
	}
	.slideshow-wrapper {
		margin-top:39px;
		h3 {
			background:#1c1c1c;
			color:#e6e6e6;
			font-family:'bento-sans', sans-serif;
			padding:12px;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
		}
	}
}