body.makercamp {
	/* apply a natural box layout model to all elements. sadly this breaks everything when it should fix... */
	//* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

	background: #094a89 url(http://makezineblog.files.wordpress.com/2013/05/star-bg-long.jpg) 0 20px repeat;
	text-rendering: optimizeLegibility;
	padding-bottom: 0 !important;
	margin: 0;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	h1, h2, h3, h4, h5, h6 {
		margin:10px 0 !important;
	}
	h3 {
		line-height:40px;
	}
	iframe { 
		max-width:100%;
	}
	.main-content {
		a, a:visited { color:#acd3fc; }
		a:hover, a:active { color:#acd3fc; text-decoration:underline !important; }
	}
	.black-bar .nav-inline li { margin-right:30px !important; }
	#footer {
		&.white-bg {
			margin:0;
			padding:30px 0 20px;
		}
		h3 {
			display:inline-block;
		}
		.g-plus {
			margin-top:10px;
		}
		.nav-list {
			margin-bottom:20px;
			list-style:none;
			li { float:left; margin-right:49px; 
				&.last { margin-right:0; }
			}
		}
	}
	.search-query {
		width:206px !important;
	}

	header {
		margin-top:41px;
		margin-bottom:40px;
		color:#fff;
		h2 {
		  font-size:33px;
		  line-height:45px;
		  margin-bottom:10px;
		}
		h3 {
		  font-weight:200;
		  font-size:28px;
		  line-height:100%;
		}
	}
	&.admin-bar header { margin-top:40px; }
	.waist {
	  background-image:url(http://makezineblog.files.wordpress.com/2013/05/hills.png);
	  background-repeat:no-repeat;
	  background-position:bottom center;
	  padding-bottom:120px;
	  margin-top:40px;
	  border:none;
		h3 {
			margin: 5px 0 20px 0 !important;
			font-size: 17px;
			line-height: 30px !important;
			color: #acd3fc;
			font-weight: normal;
			.cap {
			  	text-transform: uppercase;
			  	font-size: 27px !important;
			  	margin-right:5px;
			  	font-weight: bold !important;
			  	font-family:inherit !important;
			}
			&.last {
				margin-bottom:0 !important;
			}
		}
		.blue {
			background-color: #032042;
			color: #acd3fc;
			text-align: center;
			h4 {
				padding-bottom:12px;
			}
		}
	}
	.join {
		margin:10px 0;
		> .span9 {
			margin-left:0;
		}
		a { font-size:22px; }
	}

	.white-bg {
		background-color: #fff;
		color: black;
		h4 {
			font-size: 28px;
		}
		h5 {
		  font-size:20px;
		  text-transform:uppercase;
		  color:#6e6e6e;
		  font-weight:normal;
		}
		h6 { 
			font-size:18px;
			a, a:visited {
				color: #005d8f !important;
				text-decoration: none;
			}
			&:hover { text-decoration:underline; }
		}
		.featured {
			padding:30px 0 0;
			margin-left:6px;
			float:left;
			width:15.8%;
			height:auto !important;

			h4 {
				color:@gray;
				margin:10px;
				font-size:16px;
				/* height:40px; */
				height:54px;
			}
		}
		a.small-button {
			font-size: 16px !important;
		    font-weight: 600 !important;
		    line-height: 12px !important;
		    padding:12px 15px 8px !important;
		    margin-right:10px;	
		}
	}

	.windows {
		background-color:#fff;
		border-top:none;
		padding:20px 0;
		color: @grayDark;
		height:110px;
		.border-radius(5px);
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		.span2 {
			text-align: center;
		}
		.nobg {
			background-color: none;
		}
		#subForm {
			input[type="text"] {
				margin:26px 0;
				padding:8px;
				width:82%;
				border: 1px solid #2e7085;
				font-size:1.3em;
			}
			input[type="submit"] {
				width:90%;
			}
		}
	}
	.window.yellow {
		border-top:6px solid #DBC52D;
	}

	.test {
		height:20px;
	}

	.lower-area {
		margin-top:30px;
		margin-bottom:50px;
		h4 {
			font-size:24px;
			line-height:32px;
		}
	}

	.feature-box {
		padding-left:25px;
		padding-right:25px;
		padding-bottom:50px;
		min-height: 330px;
		text-align: center;
		p {
			font-size: 18px;
		    line-height: 24px;
		}
		h4 {
			font-size:28px;
		}
		h5 {
			font-size:24px;
			line-height: 28px;
			font-weight: normal;
		}
		.button.blue {
			width:79.16666671%;
			font-size:17px ;
			line-height:32px;
			font-weight:600;
			padding-left:25px;
			padding-right:25px;
		}
		img.register { margin:70px 0; }
	}

	.features-box-content {
		min-height:253px;
		margin-bottom:20px;
	}

	.lower-gradation {
		margin-top:-10px;
		background:#0F5B99 url('http://makezineblog.files.wordpress.com/2013/05/background-gradient-02.jpg') 0 0 repeat; 
		padding:20px 0;
	}
	.new-footer {
		.subscribe {
			h5 {
				color:#F60B29;
				margin-top:-20px !important;
			}
			hr {
				border: none;
				background-color: #F60B29;
				color: #F60B29;
				height: 7px;
				margin-right:5px;
				}
		}
		a, .new-footer a:visited {
		    color: #005D8F !important;
		    }
		p {
			color:#333;
			font-weight: bold;
			margin-top: 3px;
			padding-right: 3px;
			}
		h5 {
			font-size:16px;
			font-weight:bold;
			text-transform:none;
			color:#333;
			margin-bottom: 0 !important;
		}
		.about-column-01{
		width: 90px;
		float: left;
		margin-left: -30px;	
		}
		.about-column-02{
		width: 130px;
		float: left;
		margin-left: 0;	
		}  
	}

	// Schedule Page
	.schedule-content {
		background:#fff;
		margin-top:65px;
		color:#5c5b5b;
		border-top:1px solid #8ca9c8;
		.tab-content {
			position:relative;
			overflow:visible;
		}
		#schedule { 
			margin-top:-39px;
			border:none;
			a {
				background:#8ed5f6;
				color:#033978;
				font-weight:bold;
				font-size:1.142857143em;
				&:hover, &:active {
					border-color:#acd3fc;
					background:#8ed5f6;
					color:#033978;
				}
			}
			.active a {
				border-color:#acd3fc;
				border-bottom-color:#fff;
				background:#fff;
				color:#000;
				padding-bottom:9px;
			}
		}
		.maker {
			a { color:#005d8f; }
			.project-title {
				font-size:1.285714286em;
				line-height:1em;
				color:#005d8f;
			}
			.date, .mentor {
				font-size:1.142857143em;
				line-height:1em;
				font-weight:normal;
				color:#252525;
				margin:5px 0 !important;
				display:inline-block;
			}
		}
	}

	// FAQs
	.faq-content {
		margin-bottom:20px;
		ul { margin-bottom:25px !important; }
	}

	// Register Summer Program
	.ss-form {
		form {
			background:#fff;
			padding:15px 10px 10px 20px;
			color:#6e6e6e;
			margin:20px 20px 0 0;
		}
		label.ss-q-title { font-weight:bold; }
		input, textarea { width:95%; }
	}
	.ss-form-entry input.button {
		margin-top:-5px;
		width:100%;
		text-align:center;
		padding:10px;
		font-size:25px;
		border:0;
	}

	// Misc styles
	.orange { color:#f6ba65 !important; }
	.red { color:#c7171d; }
	.blue { color:#acd3fc; }
	ul.stars {
		list-style-image: url(../img/makercamp/stars.png); 
		li { margin: 15px 15px 5px 0; }
	}

	// Buttons
	.button, a.button {
		display: inline;
		display: inline-block;
		text-align: center;
		padding:10px;
		color:#fff !important;
		margin-top:5px;
		margin-bottom:10px;
		text-decoration: none;
		background-color: #e01b23;
		box-shadow: 0 5px 0 0 #8d1216;
		-webkit-box-shadow: 0 5px 0 0 #8d1216;
		-moz-box-shadow: 0 5px 0 0 #8d1216;
		border-bottom:none;
		&:hover {
			background-color: #b3151b !important;
			color:#fff !important;
			text-decoration: none;
		}
		&.blue {
			background-color: #8ed5f6;
			border:none;
			padding:10px;
			color:#033978 !important;
			font-size:24px ;
			line-height:32px;
			font-weight:600;
			padding-left:20px;
			padding-right:20px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			box-shadow: 0 5px 0 0 #4d97c5;
			-webkit-box-shadow: 0 5px 0 0 #4d97c5;
			-moz-box-shadow: 0 5px 0 0 #4d97c5;
			&:hover {
				color:#033978 !important;
				background-color:#73c1e6 !important;
			}
		}
		&.green {
			background-color: #51B926;
			border-bottom:3px solid #316B17;
			padding:10px;
			color: @white;    
		}
		&.block {
			display: block;
		}
		&.big {
			font-size:1.7em;
			padding:12px 0;
		}
		&.small-button {
			line-height:inherit !important;
		}
	}

	// Map
	.map-wrapper {
		li {
			margin:15px 15px 25px 0 !important;
			font-size:18px;
			line-height:1.3em;
		}
	}
	.map-title {
		background:#011f43;
		margin:0 !important;
		font-size:1.637142857em;
		font-family:sans-serif;
		font-weight:normal;
	}
	.map-list {
		background:#fff;
		color:#333;
		margin-top:20px;
		border:1px solid #333;
		th { 
			color:#fff;
			border-bottom:1px solid #333;
		}
		a { color:#005d8f !important; }
	}
	.map-list-header {
		font-weight:normal;
		background-color: #011f43 !important;
	}
}

@media (min-width: 1200px) {
	body.makercamp, body.makercamp.admin-bar {
		.new-footer {
			.container { width:1170px !important; }
			.main { width:1000px !important; }
			.trending, .newsletter, .about-us, .subscribe { width:270px !important; }
		}

		// Schedule Page
		.schedule-content {
			.maker { /* margin-right:29px !important; */ }
			.maker-description { width:96% !important; }
		}

		.waist {
			.button.big { top:14px !important; }
		}
		.feature-box {
			.button.blue { font-size:22px !important; }
		}
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	body.makercamp, body.makercamp.admin-bar {

		// Override some styles from Makezine
		.container,
		.navbar-static-top .container,
		.navbar-fixed-top .container,
		.navbar-fixed-bottom .container {
			width: 724px !important;
		}

		// Navbar Styles
		header { margin:0 0 40px !important; }
		.navbar-fixed-top { margin-bottom:0; }
		.navbar-blue .navbar-search .search-query { width:97% !important; }

		// Waist
		.waist {
			background-position: 40.0817996% bottom;
		}
		.button.big {
			font-size:1.5em;
		}

		// Join Bar
		.join {
			h2 { font-size:1.8em; }
			a { font-size:1.357142857em; }
		}

		.feature-box {
			h4 { line-height:1em; }
			h5 { font-size:1.5em; }
			img.register { margin:52px 0; }
		}

		// Schedule Page
		.schedule-content {
			#schedule { 
				a { font-size:.9em; }
			}
			.maker { /* margin-right:15px !important; */ }
		}

		// Footer
		.new-footer .main { margin:5px auto; width:100%; }
	}
}

@media (max-width: 767px) {
	body.makercamp, body.makercamp.admin-bar {

		padding:0; margin:0;

		// Override some styles from Makezine
		.container,
		.navbar-static-top .container,
		.navbar-fixed-top .container,
		.navbar-fixed-bottom .container {
			width: 100% !important;
		}
		.navbar-fixed-top { margin-left:0; margin-right:0; }
	
		.top-header, .waist .container, .lower-gradation .container, .new-footer .container { width:90% !important; margin:0 auto !important; }
		.button.blue { font-size:1.428571429em; }

		// Navbar Styles
		.top-header {
			h2 { font-size:2em; }
			h3 { font-size:1.5em; }
		}
		header { margin:0 0 40px !important; }
		.navbar-fixed-top { margin-bottom:0; }
		.navbar-blue .navbar-search .search-query { width:97% !important; }
	
		// Home Header
		.mc-logo, .mc-description { text-align:center; color:#fff; }
		.mc-description { color:#f6ba65; }

		.feature-box {
			img.register { margin:30px 0 !important; }
		}

		// Waist
		.waist {
			margin-top:20px;
			background-position: 31.0818% bottom;
			a { top:0 !important; font-size:1.5em; margin-bottom:30px; }
			.cap { display:block; font-size:1.285714286em !important; }
		}

		// Lower Gradiation
		.lower-gradation {
			.span2 { float:left; width:25%; }
			.span4 h4 { font-weight:normal; font-size:1.1em; line-height:1.2em; }
		}

		// Mobile Schedule
		.mobile-schedule {
			.container.row { margin:0; }
			a { width:90% !important; }
		}

		// Schedule Page
		.schedule-content {
			.nav-tabs > li { width:100%; }
			.tab-content {
				h2.visible-phone, > .active, { padding:0 20px; }
			}
			.desc-body, .desc-feat {
				float:none;
				width:100%;
			}
			.desc-feat { text-align:left; }
		}

		// Footer
		.new-footer .main { margin:5px auto; width:100%; }
	}
}