.single {
	.category-top;
	border-bottom:0px;
	.post {
		ul, ol {
			li {
				font-size:18px;
			}
		}
	}
	.tag-weekend-projects { margin-top:10px; }
}

.gsc-cursor-page {
	.badge;
	color: white !important;
}