.single {
	.category-top;
	border-bottom:0px;
	.post {
		ul, ol {
			li {
				font-size:18px;
			}
		}
	}
	.tag-weekend-projects { margin-top:10px; }

}

.gsc-cursor-page {
	.badge;
	color: white !important;
}

.tease {
	border-top: 3px solid #ccc;
	background-color: #ebebeb;
	margin-bottom: 20px;
	text-align: center;
	h3 {
		text-align: center;
		color: #ccc;
		width: 120px;
		background-color: #fff;
		margin: -3px auto 20px;
		border: 3px solid #ccc;
		border-top: 0px;
		font-size: 20px;
		padding-bottom: 2px;
		.border-bottom-right-radius( 7px );
		.border-bottom-left-radius( 7px );
	}

	h4 {
		font-size: 20px;
		font-weight: 400;
	}
	.button {
		margin-bottom: 20px;
	}
	.cover {
		img {
			border: 1px solid #b7b7b7;
			.box-shadow( 3px 3px 3px rgba( 183, 183, 183, .4 ) ); // Redeclare so transitions work
			margin-bottom: 20px;
		}
	}
}


// Styles for the single-volume.php pages
.single-volume .main-content {
	// Main volume description
	h1 {
		color:@grey;
		font-size:'Myriad Pro', sans-serif;
		font-size:30px;
		font-weight:normal;
	}
	.highlight {
		color:@red;
		font-family:sans-serif;
		font-size:38px;
	}
	.vol-description {
		font-size:18px;
	}


	// Columns
	.vol-content {
		margin-top:45px;
		.volume-article {
			margin-bottom:13px;
			.clearfix();
		}
		h2 {
			background:#e1e1e1;
			color:#252525;
			display:block;
			font-weight:normal;
			padding:8px 7px;
			font-size:21px;
			line-height:1em;
			text-transform:uppercase;
			margin-bottom:17px;
			.border-radius(3px);
		}
		.page-count {
			width:22px;
			height:12px;
			text-align:center;
			padding:5px 0;
			background:#fff;
			color:#acacac;
			border:1px solid #acacac;
			margin-right:6px;
			line-height:1em;
			font-size:sans-serif;
			display:inline-block;
			.pull-left;
		}
		.page-body {
			width:90%;
			color:#252525;
			font-family:sans-serif;
			.pull-left;
			h3 {
				font-size:16px;
				line-height:1em;
				margin:0;
				text-transform:inherit;
			}
			.meta {
				color:#898989;
			}
			p {
				font-size:14px;
				margin:0;
			}
		}
		.feat-image {
			width:107px;
			height:98px;
			margin-right:6px;
			.pull-left;
			.page-count {
				position:absolute;
			}
			img {
				border:1px solid #acacac;
			}
		}
		.page-body.has-image { width:57%; }
	}


	// Globals
	a {
		color:#005d8f;
		border-bottom:none !important;
	}
	.button {
		padding:3px 37px;
		.border-radius(3px);
	}
	.video-ico {
		background:url('../images/video-icon.png') 0 4px no-repeat;
		padding-left:20px;
	}
}